@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome</h1>
    <h2>Hotel App</h2>
=======
    <h1 class="display-4">Welcome To Royal Palace's Internal Management System</h1>
   
>>>>>>> origin/martin
</div>
